@font-face {
    font-family: "e-Ukraine";
    src: url(../fonts/e-Ukraine-Regular.otf);
}

@font-face {
    font-family: "e-UkraineHead";
    src: url(../fonts/e-UkraineHead-LOGO.otf);
}

:root {
    --light: 80;
    /* Пороговое значение, отделяющее "светлые" цвета, от "темных". Рекомендуется 50 - 70 */
    --threshold: 60;
}

.noshow{
    display: none;
}

body {
    font-family: "e-Ukraine", sans-serif;
    margin: 0;
    padding: 0;
    background: #161B33;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    background: #0D0C1D;
}
.header_content{
    width: 100%;
    bottom: 10px;
    position: relative;
    align-items: flex-end;
    text-align: flex-end;
    justify-content: space-between;
    padding: 0 50px 0 25px;
    gap: 30px;
    display: flex;
}

.header_content-logo{
    font-family: "e-UkraineHead";
    font-size: 28px;
    text-decoration: none;
    color: #474973;
}

.header_content-rating{
    font-family: "e-UkraineHead";
    font-size: 20px;
    text-decoration: none;
    color: #474973;
}

.input_all{
    text-align: left;
    width: 14vw;
    height: 34px;
    position: relative;
    text-align: center;
}

.input_all span{
    position: absolute;
    left: 12px;
    top: 8px;
    transition: 0.5s;
}

.input_all form:valid ~ .span{
    transform: translateX(200px);
}

.span:hover{
    filter: invert(41%) sepia(5%) saturate(86%) hue-rotate(71deg) brightness(96%) contrast(84%);
    cursor: pointer;
}

.header_content-input{
    width: 100%;
    height: 34px;
    display: flex;
    background: #F2F2F2;
    background: #474973;
    box-shadow: 0px 0px 6px 5px rgba(34, 60, 80, 0.10);
    border-radius: 13px;
    border: none;
    outline: none;
    font-size: 18px;
    text-indent: 32px;
    transition: 0.5s;
}

.header_content-input:valid{
    text-indent: 10px;
}

.basic_movie{
    width: 100%;
    height: 85vh;
    position: relative;
    transition: 5s ease-in-out;
}

.basic_poster{
    position: relative;
    width: 100%;
    height: 85vh;
    background: linear-gradient(180deg, rgba(13, 12, 29, 1) 0%, rgba(var(--test_color), 0.65) 15%, rgba(var(--test_color), 0.65) 80%, rgba(22, 27, 51, 1) 100%), var(--basicPoster);
    background-size:cover;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: center;
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
    transition: 1s ease-in-out;
    opacity: 0;
}

.basic_poster_next{
    position: relative;
    width: 100%;
    height: 85vh;
    background: linear-gradient(180deg, rgba(13, 12, 29, 1) 0%, rgba(var(--test_colorNext), 0.65) 15%, rgba(var(--test_colorNext), 0.65) 80%, rgba(22, 27, 51, 1) 100%), var(--basicPosterNext);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.blure-box{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(var(--test_color), 1);
    background-color: rgba(var(--test_color), 0.5) ;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    backdrop-filter: blur(2px);
}

.auntentificate{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.login_window{
    z-index: 102;
    height: 60vh;
    width: 50%;
    background-color: red;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic_title{
    margin: 0;
}

.main_text-popular{
    display: none;
    font-size: 20px;
    color: white;
}

.main_text-top{
    display: none;
    font-size: 20px;
    color: white;
}

.main_text-results{
    display: none;
    font-size: 20px;
}

.info-title{
    color: #dedede;
}

.text-show{
    display: flex;
}
.movie {
    margin: 10px;
    position: relative;
    border-radius: 10px;
    transition: .3s;
}

.tv{
    margin: 10px;
    position: relative;
    border-radius: 10px;
}

.movie_poster{
    height: 250px;
    border-radius: 10px;
    transition: .2s;
}

.movie_poster:hover, .movie_poster:active{
    height: 280px;
}

.main_movies{
    margin: 0 35px 0 35px;
}

.movies_popular{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    background: #BBD0FF;
    background: #474973;
    box-shadow: 0px 0px 6px 5px rgba(34, 60, 80, 0.10);
    margin-bottom: 30px;
}

.movies_top{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
    z-index: 2;
    background-color: #474973;
    box-shadow: 0px 0px 6px 5px rgba(34, 60, 80, 0.10);
    margin-bottom: 30px;
}

.movies_trending{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    background: #474973;
    box-shadow: 0px 0px 6px 5px rgba(34, 60, 80, 0.10);
    margin-bottom: 30px;
}

.movies_searcheble{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #BBD0FF;
    box-shadow: 0px 0px 6px 5px rgba(34, 60, 80, 0.10);
}

/*SCROLLER*/
.scroller{
    overflow: auto;
    overflow-x: scroll;
    width: 100%;
}

.scroll-forward{
    position: absolute;
    right: 39px;
    width: 100px;
    height: 349px;
    display: flex;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}

.btn-scroll{
    right: 0;
    position: absolute;
    align-items: center;
    z-index: 2;
    fill: none;
    pointer-events: auto;
    transition: 2s ease-in-out;
}
.scroll-forward:hover .btn-scroll{
    fill: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    transition: 2s ease-in-out;
}


/*MODAL*/
.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_background-posters{
    background-image: linear-gradient(to right, rgba(var(--test_color), 1) calc((50vw - 170px) - 340px), rgba(var(--test_color), 0.84) 30%, rgba(var(--test_color), 0.84) 100%), var(--background_poster);
    background-size: cover;
    border: 0;
    position: absolute;
    height: 400px;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    z-index: 101;
}

.modal_card{
    width: 90vw;
    background: rgba(184, 192, 255);
    height: auto;
    border-radius: 20px;
    max-width: 750px;
    display: block;
    position: relative;
    z-index: 102;
}

.modal_header{
    position: relative;
    height: auto;
    display: flex;
    z-index: 102;
    border-radius: 20px;
    max-width: 750px;
}

.modal_movie{
    display: flex;
    align-content: center;
    box-sizing: border-box;
    margin: 16px;
    margin-left: 40px;
    z-index: 103;
}

.modal-show {
    display: flex;
    justify-content: center;
}

.modal_movie-posters{
    width: 200px;
    height: 300px;
    z-index: 102;
    margin: 16px;
}
.modal_movie-poster{
    height: 100%;
    border-radius: 15px;
}

.modal-text{
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}

.movie-title{
  font-family: "e-UkraineHead", bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal_movie-title{
    margin-bottom: 0;
    padding-bottom: 0;
}

.movie-genres{
    margin-left: 30px;
    margin-top: 5px;
    padding-top: 0;
    font-size: 14px;
}

.movie-desc{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 0;
}

.info-desc{
    font-size: 14px;
}
.modal_trailer{
    margin-top: 10px;
    position: relative;
    z-index: 106;
    margin-left: 16px;
    margin: 10px 16px 0 16px;
    height: 404px;
}

.modal_frame_trailer{
    height: 404px;
    width: 100%;
    border-radius: 20px;
}

.modal_button-close{
    width: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.modal_button-close:hover{
    filter: invert(41%) sepia(5%) saturate(86%) hue-rotate(71deg) brightness(96%) contrast(84%);
}

.movie-rate{
    margin-bottom: 0;
}

.info-rate{
    margin-left: 30px;
    margin-top: 5px;
}
