body {
    font-family: "Open Sans", sans-serif;
}
.main_text-popular{
    display: none;
}

.text-show{
    display: flex;
}
.movie {
    min-width: 160px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
}


.movie_poster{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}


.movies_popular{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.movies_top{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.movies_searcheble{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    border-radius: 10px;
}


/*SCROLLER*/
.scroller{
    overflow: auto;
    overflow-x: scroll;
    width: 100%;
}



/*MODAL*/
.modal{
    display: none;
}
.modal-show {
    display: flex;
    justify-content: center;
    align-items: center;
}